* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(230, 22, 178);
}
header
{
	width:100%;
	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background: rgb(238, 20, 154);
	
}
header div{
    width:300px;
	height:400px;
	background-color:white;
	box-sizing: 0px 0px 10px #ccc;
	border-radius:15px;
	padding: 50px 25px;
}
header div h1{
	text-align:center;
	color:rgb(238, 20, 154);
	font-family: sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
}
header div .name ,.email,  .phone ,.password{
	border:none;
	border-bottom:1px solid #ccc;
	padding: 10px;
	padding-left: 3px;
	width:100%;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: sans-serif;
	outline: none;
	color:#727272;
}
#login_btn{
	width:100%;
	background-color:rgb(238, 20, 154);
	color:white;
	border:none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}