* {
    padding: 0;
    margin: 0;

}

body {
    width: 100%;
    background-image: url(l.jpeg);
    background-position: center;
    background-size: contain;
    height: 100vh;
}

.shiv {
    width: 1200px;
    height: 7px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;

}

.loge {
    color: orangered;
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 2px;
    float: left;
    padding-top: 10px;
}

.mamul {
    width: 100%;
    float: left;
    height: 70px;

}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
}

ul li {
    
    list-style: none;
    margin-top: 27px;
    margin-left: 62px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
     transition: 0.4s  ease-in-out; 

}
.mamul ul>li> a:hover {
    color: white !important;
    
}

.search {
    width: 30px;
    float: left;
    margin-left: 270px;

}

.srch {
    font-family: sans-serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn {
    width: 100px;
    height: 40px;
    background-color: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:first {
    outline: none;

}

.srch:first {
    outline: none;
}

.content {
    width: 800px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: orangered;
}

.content h1 {
    font-family: sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
    color: orangered;
}

.content.ce {
    width: 160px;
    height: 40px;
    background-color: orangered;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;

}
.form{
    width: 250px;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 45vb;
    left: 110vb;
    border-radius: 10%;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: aliceblue;
    border-radius: 2px;
    margin: 2px;
    padding: 4px;
}
.form input{
    width:24px;
    height: 15px;
    background-color: transparent;
    border-bottom: 1px solid orangered;
    border-top:none;
    border-right: none;
    border-left: none;
    color: aliceblue;
    font-size: 2px;
    font-family: sans-serif;
    
}